.header {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    &__container{
        background-color: #fff;
        box-shadow: 0 1.25rem 5.3125rem rgb(0 0 0 / 8%), inset 0 0.1875rem 0 #22c2af;
        padding: 25px 30px
    }

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__links {
        margin-left: auto;
    }
}