.hero {
    background-image: url('../../images/hero-real-estate.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
}